apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: quay.io/hupiper/client
  newTag: latest
#- name: quay.io/hupiper/server
#  newName: quay.io/hupiper/server
#  newTag: 813e347-1027644688
resources:
- ../../../../environments/overlays/prod
